<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <select class="posts" name="posts" data-model="post">
    <% _.each(posts, function( post) { %>
    <option value="<%= post.id %>"><%- post.title %></option>
    <% }) %>
  </select>
  <div class="posts" ng-app="PostModule">
      <h1>{{ titles.title}}</h1>
  </div>

</body>
<!--SCRIPTS-->
<script src="/js/dependencies/sails.io.js"></script>
<script src="/js/dependencies/angular.1.3.js"></script>
<script src="/js/dependencies/tinymce.js"></script>
<script src="/js/dependencies/angular-ui-tinymce/src/tinymce.js"></script>
<script src="/js/dependencies/angular-toastr.js"></script>
<script src="/js/dependencies/angular-ui-tinymce/dist/tinymce.min.js"></script>
<script src="/js/dependencies/bootstrap.js"></script>
<script src="/js/dependencies/compareTo.module.js"></script>
<script src="/js/dependencies/jquery.js"></script>
<script src="/js/public/signup/SignupModule.js"></script>
<script src="/js/private/dashboard/DashboardModule.js"></script>
<script src="/js/private/post/PostModule.js"></script>
<script src="/js/private/nota_act/Nota_actModule.js"></script>
<script src="/js/public/homepage/HomepageModule.js"></script>
<script src="/js/private/dashboard/DashboardController.js"></script>
<script src="/js/private/nota_act/Nota_actController.js"></script>
<script src="/js/private/post/PostController.js"></script>
<script src="/js/private/search.js"></script>
<script src="/js/private/search/search.js"></script>
<script src="/js/public/homepage/HomepageController.js"></script>
<script src="/js/public/signup/SignupController.js"></script>
<!--SCRIPTS END-->
</html>
