<!DOCTYPE html>
<html>
<head>
  <title>Notarius.KG | Добро пожаловать!</title>
  <!-- Viewport mobile tag for sensible mobile support -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <!--STYLES-->
  <link rel="stylesheet" href="/styles/angular-toastr.css">
  <link rel="stylesheet" href="/styles/bootstrap.3.1.1.css">
  <link rel="stylesheet" href="/styles/importer.css">
  <link rel="stylesheet" href="/styles/styleDashboard.css">
  <link rel="stylesheet" href="/styles/styleSearch.css">
  <!--STYLES END-->
  <!--Added this so the client has access to the csrf tag and it's grabbed first service side on every page -->

</head>
<body ng-app="Nota_actModule" ng-controller="Nota_actController" >

  <!-- container = Fixed-width container container-fluid = full-width -->
  <div class="container-fluid">
    <!-- Creates the navbar -->
    <nav class="navbar navbar-default navbar-inverse">
      <!-- This creates the mechanism for collapse button -->
      <button type="button" class="navbar-toggle" data-toggle="collapse" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
        <!-- This controls the number of lines in the image when the nav collapse -->
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- This is the brand on the left-hand side. -->
      <a class="navbar-brand" href="/#/"> Админ-панель</a>
      <a class="navbar-brand" href="/#/"> Документы</a>
      <a class="navbar-brand" href="/#/"> Отчет</a>
      <a class="navbar-brand" href="/search"> Поиск</a>
      <a class="navbar-brand" href="/#/"> Справка</a>

      <!-- This is what is the above collapse button points to when the mark-up below is collapsed -->
      <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'">
        <!-- This is what "styles" the li's as navbar items -->
        <ul class="nav navbar-nav navbar-right">
          <!-- navbar-right pulls this element right -->
          <!-- Using ng-show instead of ng-if because we need this mark-up to be in the dom when signup controller
          fires.  If it's not there (which it wouldn't be in the case of ng-if) then the scope of the signup
          controller will not be tied to this element. -->
          <li>
            <a href="/logout">выйти</a>
          </li>
          <!-- <a ng-controller="signinController" class="btn btn-default navbar-btn navbar-right" href="#" ng-if="!isAuthenticated">sign-in</a> -->
          <!-- Using ng-show instead of ng-if because we need this mark-up to be in the dom when signup controller
          fires.  If it's not there (which it wouldn't be in the case of ng-if) then the scope of the signup
          controller will not be tied to this element. -->
        </ul>
      </div>
    </nav>
  </div>

  <form ng-submit="nota_actForm()" id="nota_act-form" class="form-signin" name="nota_act" >
    <div class="row">
      <div class="col-md-8 col-md-offset-2" id="spravochnik">
      <div class="jumbotron">
        <label>Справочник</label>
        <ul>
          <li ></li>
        </ul>
      </div>
    </div>
    </div>
    <div class="row">
      <div class="container" >
      <h2>Нотариальные действия:</h2></div>
      <div class="notac form-group">
        <select data-ng-model="selectedDoc"
                      class="form-control"
                      data-ng-change="docChange(selectedDoc)"
                      data-ng-options="detail.title for detail in docList2 track by detail.id">
                <option value="">Выберите</option>
              </select>

              <select data-ng-model="selectedSpr"
                      class="form-control"
                      data-ng-options="detail.SpravochnikAS.title for detail in sprList track by detail.id">
                <option value="">Выберите</option>
              </select>
      </div>

      <div id="exTab2" class="container" >
        <ul class="nav nav-tabs">
          <li class="active">
            <a href="#1" data-toggle="tab">Кто</a>
          </li>
          <li><a href="#2" data-toggle="tab" ng-model="tab">Автотранспорт</a>
          </li>
          <li><a href="#3" data-toggle="tab">Кому</a>
          </li>
        </ul>
        <div class="tab-content ">
          <div class="tab-pane active" id="1"><br>
            <label>Я:</label>

            <div class="form-group">
              <select class="form-control selectpicker form-group clients col-md-12" ng-model="clients" title="Выберите...">
                <option value="1">Физическое лицо</option>
                <option value="2">Юридическое лицо</option>
              </select>
            </div>
            <div class="fiz_clients">
              <label ng-show="clients == '1'">Имя</label>
                <div class="control-group form-group col-md-12"
                ng-class="">
                <input type="text"  id="name" ng-show="clients == '1'"  class="form-control " placeholder="Например: Андрей" name="name" ng-model="signupForm.name" ng-maxlength="50" required>

                <span class="help-block has-error" ng-if="signup.name.$dirty">
                  <span ng-show="signup.name.$error.required">Имя обязательно для заполнения.</span>
                  <span ng-show="signup.name.$error.maxlength">Имя не может быть более 50 символов.</span>
                </span>
              </div>
              <br>
              <label ng-show="clients == '1'">Фамилия:</label>
              <div class="row">
                <div class="control-group form-group col-md-12"
                ng-class="{'has-error':signup.name.$invalid &&
                signup.name.$dirty}">
                <input type="text"  ng-show="clients == '1'" class="form-control" placeholder="Например: Сергеев " name="surname" ng-model="signupForm.name" ng-maxlength="50" required>
                <span class="help-block has-error" ng-if="signup.name.$dirty">
                  <span ng-show="signup.name.$error.required">Фамилия обязательно для заполнения.</span>
                  <span ng-show="signup.name.$error.maxlength">Фамилия не может быть более 50 символов.</span>
                </span>
              </div>
            </div>

            <label ng-show="clients == '1'" >Проживающий:</label>
            <div class="row">
              <div class="control-group form-group col-md-12"
              ng-class="{'has-error':signup.name.$invalid &&
              signup.name.$dirty}">
              <input type="text"  ng-show="clients == '1'" class="form-control" placeholder="Например: г.Бишкек, ул.Московская 21.кв.23" name="address" ng-model="signupForm.name" ng-maxlength="50" required>
              <span class="help-block has-error" ng-if="signup.name.$dirty">
                <span ng-show="signup.name.$error.required">Проживающий обязательно для заполнения.</span>
                <span ng-show="signup.name.$error.maxlength">Проживающий не может быть более 50 символов.</span>
              </span>
            </div>
          </div>
            </div>
          </div>
          <div class="tab-pane" id="2">
            <div class="fiz_clients">
              <label ng-show="clients == '1'">Марка и модель автомобиля</label>
                <div class="control-group form-group col-md-12"
                ng-class="">
                <input type="text"  ng-show="clients == '1'"  class="form-control " placeholder="Например: BMW X5" name="car-model" ng-model="signupForm.name" ng-maxlength="50" required>

                <span class="help-block has-error" ng-if="signup.name.$dirty">
                  <span ng-show="signup.name.$error.required">Марка и модель обязательно для заполнения.</span>
                  <span ng-show="signup.name.$error.maxlength">Марка и модель не может быть более 50 символов.</span>
                </span>
              </div>
              <br>
              <label ng-show="clients == '1'">Объем двигателя:</label>
              <div class="row">
                <div class="control-group form-group col-md-12"
                ng-class="">
                <input type="text"  ng-show="clients == '1'" class="form-control" placeholder="Например: 2.4" name="motor" ng-model="signupForm.name" ng-maxlength="50" required>
                <span class="help-block has-error" ng-if="signup.name.$dirty">
                  <span ng-show="signup.name.$error.required">Объем двигателя обязательно для заполнения.</span>
                  <span ng-show="signup.name.$error.maxlength">Объем двигателя не может быть более 50 символов.</span>
                </span>
              </div>
            </div>

            <label ng-show="clients == '1'" >Год выпуска:</label>
            <div class="row">
              <div class="control-group form-group col-md-12"
              ng-class="">
              <input type="text"  ng-show="clients == '1'" class="form-control" placeholder="Например: 2003 г." name="name" ng-model="signupForm.name" ng-maxlength="50" required>
              <span class="help-block has-error" ng-if="signup.name.$dirty">
                <span ng-show="signup.name.$error.required">Проживающий обязательно для заполнения.</span>
                <span ng-show="signup.name.$error.maxlength">Проживающий не может быть более 50 символов.</span>
              </span>
            </div>
          </div>
            </div>
          </div>
          <div class="tab-pane" id="3">
            <div class="form-group">
              <select class="form-control selectpicker form-group clients col-md-12" ng-model="clients" title="Выберите...">
                <option value="1">Физическое лицо</option>
                <option value="2">Юридическое лицо</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>

    <button class="btn btn-primary btn-lg btn-block" type="submit" ng-disabled="signup.$invalid">
      <span ng-show="!signupForm.loading">Сканировать</span>
      <span class="overlord-loading-spinner fa fa-spinner" ng-show="signupForm.loading" ></span>
      <span ng-show="signupForm.loading">Подготовка к оформлению...</span>
    </button>

    <input type="hidden" name="_csrf" value="<%= _csrf %>" />
  </form>



  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

  <!--SCRIPTS-->
  <script src="/js/dependencies/sails.io.js"></script>
  <script src="/js/dependencies/angular.1.3.js"></script>
  <script src="/js/dependencies/tinymce.js"></script>
  <script src="/js/dependencies/angular-ui-tinymce/src/tinymce.js"></script>
  <script src="/js/dependencies/jquery.js"></script>
  <script src="/js/dependencies/bootstrap.js"></script>
  <script src="/js/dependencies/angular-toastr.js"></script>
  <script src="/js/dependencies/angular-ui-tinymce/dist/tinymce.min.js"></script>
  <script src="/js/dependencies/compareTo.module.js"></script>
  <script src="/js/public/signup/SignupModule.js"></script>
  <script src="/js/private/dashboard/DashboardModule.js"></script>
  <script src="/js/private/settings/SettingsModule.js"></script>
  <script src="/js/private/help/HelpModule.js"></script>
  <script src="/js/private/post/PostModule.js"></script>
  <script src="/js/private/nota_act/Nota_actModule.js"></script>
  <script src="/js/public/homepage/HomepageModule.js"></script>
  <script src="/js/private/dashboard/DashboardController.js"></script>
  <script src="/js/private/help/HelpController.js"></script>
  <script src="/js/private/nota_act/Nota_actController.js"></script>
  <script src="/js/private/post/PostController.js"></script>
  <script src="/js/private/report/ReportController.js"></script>
  <script src="/js/private/report/ReportModule.js"></script>
  <script src="/js/private/search/search.js"></script>
  <script src="/js/private/settings/SettingsController.js"></script>
  <script src="/js/public/homepage/HomepageController.js"></script>
  <script src="/js/public/signup/SignupController.js"></script>
  <!--SCRIPTS END-->

</body>
</html>
