<!DOCTYPE html>
<html>
<head>
  <title>Notarius.KG | Отчет <%=  %>!</title>
  <!-- Viewport mobile tag for sensible mobile support -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <!--STYLES-->
  <link rel="stylesheet" href="/styles/angular-toastr.css">
  <link rel="stylesheet" href="/styles/bootstrap.3.1.1.css">
  <link rel="stylesheet" href="/styles/importer.css">
  <link rel="stylesheet" href="/styles/styleDashboard.css">
  <link rel="stylesheet" href="/styles/styleSearch.css">
  <!--STYLES END-->
  <!--Added this so the client has access to the csrf tag and it's grabbed first service side on every page -->
</head>
<body ng-app="ReportModule" ng-controller="ReportController">
  <div class="container-fluid">
    <!-- Creates the navbar -->
    <nav class="navbar navbar-default navbar-inverse">
      <!-- This creates the mechanism for collapse button -->
      <button type="button" class="navbar-toggle" data-toggle="collapse" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
        <!-- This controls the number of lines in the image when the nav collapse -->
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- This is the brand on the left-hand side. -->
      <a class="navbar-brand" href="/dashboard"> Админ-панель</a>
      <a class="navbar-brand" href="/dashboard"> Документы</a>
      <a class="navbar-brand" href="/reports"> Отчет</a>
      <a class="navbar-brand" href="/search"> Поиск</a>
      <a class="navbar-brand" href="/settings"> Настройки</a>
      <a class="navbar-brand" href="/help"> Справка</a>

      <!-- This is what is the above collapse button points to when the mark-up below is collapsed -->
      <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'">
        <!-- This is what "styles" the li's as navbar items -->
        <ul class="nav navbar-nav navbar-right">
          <!-- navbar-right pulls this element right -->
          <!-- Using ng-show instead of ng-if because we need this mark-up to be in the dom when signup controller
          fires.  If it's not there (which it wouldn't be in the case of ng-if) then the scope of the signup
          controller will not be tied to this element. -->
          <li>
            <a href="/logout">выйти</a>
          </li>
          <!-- <a ng-controller="signinController" class="btn btn-default navbar-btn navbar-right" href="#" ng-if="!isAuthenticated">sign-in</a> -->
          <!-- Using ng-show instead of ng-if because we need this mark-up to be in the dom when signup controller
          fires.  If it's not there (which it wouldn't be in the case of ng-if) then the scope of the signup
          controller will not be tied to this element. -->
        </ul>
      </div>
    </nav>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-12 ">

        <table id="reportDoc" class="table table-hover tablesorter">
          <thead>
            <tr>
              <th>#</th>
              <th  data-defaultsort="desc">Название документа</th>
              <th>ФИО нотариуса</th>
              <th>Дата оформления</th>
              <th>Цена услуги</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Договор купли-продажи квартиры</td>
              <td>Нурсултан Назарбаев</td>
              <td>2017-02-27 15:25:29</td>
              <td>520 сом</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Свидетельство об удостоверении факта нахождения гражданина в живых</td>
              <td>Аманов Жыргал</td>
              <td>2017-02-27 15:25:29</td>
              <td>1200 сом</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Удостоверительная надпись копии интернет страницы</td>
              <td>Нурсултан Назарбаев</td>
              <td>2017-02-27 15:25:29</td>
              <td>300 сом</td>

            </tr>
            <tr>
              <th scope="row">4</th>
              <td>Акт описи наследственного имущества</td>
              <td>Нурсултан Назарбаев</td>
              <td>2017-02-27 15:25:29</td>
              <td>230 сом</td>

            </tr>
            <tr>
              <th scope="row">5</th>
              <td>Заявление о принятии наследства</td>
              <td>Нурсултан Назарбаев</td>
              <td>2017-02-27 15:25:29</td>
              <td>1000 сом</td>
            </tr>
            <tr>
              <th scope="row">6</th>
              <td>Запрос банковского учреждения</td>
              <td>Нурсултан Назарбаев</td>
              <td>2017-02-27 15:25:29</td>
              <td>1234.10 сом</td>
            </tr>
            <tr>
              <th scope="row">7</th>
              <td>Постановление об отказе в выдаче свидетельства о праве на наследство</td>
              <td>Нурсултан Назарбаев</td>
              <td>2017-02-27 15:25:29</td>
              <td>200 сом</td>
            </tr>
            <tr>
              <th scope="row">8</th>
              <td>Заявление о согласии на включение в число наследников наследника, не представившего(ей) документов, подтверждающих родственные отношения</td>
              <td>Нурсултан Назарбаев</td>
              <td>2017-02-27 15:25:29</td>
              <td>80 сом</td>
            </tr>
            <tr>
              <th scope="row">9</th>
              <td>Договор дарения акций</td>
              <td>Нурсултан Назарбаев</td>
              <td>2017-02-27 15:25:29</td>
              <td>76 сом</td>
            </tr>
            <tr>
              <th scope="row">10</th>
              <td>Договор займа</td>
              <td>Нурсултан Назарбаев</td>
              <td>2017-02-27 15:25:29</td>
              <td>2000 сом</td>
            </tr>
          </tbody>
        </table>
        <nav aria-label="...">
          <ul class="pagination">
            <li class="page-item disabled">
              <a class="page-link" href="#" tabindex="-1">Предыдущий</a>
            </li>
            <li class="page-item active"><a class="page-link" href="#">1</a></li>
            <li class="page-item">
              <a class="page-link" href="#">2 <span class="sr-only"></span></a>
            </li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
              <a class="page-link" href="#">Следующий</a>
            </li>
          </ul>
        </div>
      </div>
    </div>





    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/angular.1.3.js"></script>
    <script src="/js/dependencies/angular-toastr.js"></script>
    <script src="/js/dependencies/angular-ui-tinymce/dist/tinymce.min.js"></script>
    <script src="/js/dependencies/angular-ui-tinymce/src/tinymce.js"></script>
    <script src="/js/dependencies/jquery.js"></script>
    <script src="/js/dependencies/bootstrap.js"></script>
    <script src="/js/dependencies/compareTo.module.js"></script>

    <script src="/js/dependencies/tinymce.js"></script>
    <script src="/js/public/signup/SignupModule.js"></script>
    <script src="/js/private/dashboard/DashboardModule.js"></script>
    <script src="/js/private/settings/SettingsModule.js"></script>
    <script src="/js/private/settings/SettingsController.js"></script>
    <script src="/js/private/report/ReportModule.js"></script>
    <script src="/js/private/report/ReportController.js"></script>
    <script src="/js/private/post/PostModule.js"></script>
    <script src="/js/private/nota_act/Nota_actModule.js"></script>
    <script src="/js/public/homepage/HomepageModule.js"></script>
    <script src="/js/private/dashboard/DashboardController.js"></script>
    <script src="/js/private/nota_act/Nota_actController.js"></script>
    <script src="/js/private/post/PostController.js"></script>
    <script src="/js/public/homepage/HomepageController.js"></script>
    <script src="/js/public/signup/SignupController.js"></script>
    <!--SCRIPTS END-->

  </body>
  </html>
